@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


:root {

    /* Colores */
    --color-primary: #3b82f6;
    --color-secondary: #fbbf24;
    --color-accent: #4ade80;
    --color-neutral: #374151;
    --color-base-100: #ffffff;
    --color-base-200: #f3f4f6;
    --color-base-300: #e5e7eb;
    /* Fin colores */

    /* Tipografías */

    /* Fin tipografías */
}

*{
    /* outline: 1px solid red; */
}

.container{
    @apply max-w-screen-xl mx-auto;
}
